@media only screen and (max-width: 750px){
	
	

}

@media only screen and (min-width: 751px){

	
}

.icon-black{
	color: #222 !Important;
	padding-right: 12px;
	font-size:23px
}

.icon-black:hover{
	text-decoration: none;
}

