<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<div class="container" style="margin-top: 25px">
  <div class="page-header">
    <a href="/" class="non-underline a-no-effect"><h1>BYUNGHWAN LEE <br/> <p class="m-location" >Pittsburgh, PA</p></h1>
    </a>

    <ul class="nav link-button">
      <li class="active"><a class="nav-a" href="index.html">WORK</a></li>
      <li><a class="nav-a" href="https://drive.google.com/open?id=0B9359WX9yInyUlNnVHhOQWFzT0lzaWJ6QmMzMmU1U1drcU04">RESUME</a></li>
      
    </ul>
  </div>
</div>