<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<div class="container" style="margin-top: 4%">
  <div class="page-header">
    <a href="/" class="non-underline a-no-effect"><h1>BYUNGHWAN LEE <br/> <p style="margin-top:5px; font-size:12px; color:gray;">Pittsburgh, PA</p></h1>
    </a>

    <ul class="nav justify-content-end">
      <li class="active"><a class="nav-a" href="index.html">WORK</a></li>
      <li><a class="nav-a" href="#">RESUME</a></li>
      
    </ul>
  </div>
</div>