
<div class="container">
  
  <div class="intro">
	  <p class="lead">
	    Byunghwan(Phan) is a software engineer and an application developer. He is interested in how new technologies, like VR/AR, can help innovate education and enable new ways for people to learn.
	    <br />
	    <br />
	    He co-founded Music Everywhere, Inc. in which he successfully developed an award winning application. He is currently working on projects that pushes the boundary of music education through adapting Augmented Reality technology to physical instruments. 
	    <br />
	    <br />
	    Phan received his Masters of Entertainment Technology from Carnegie Mellon University and his bachelor's degree from Ajou University(Republic of Korea) in Media Studies.  
	  </p>
  </div>

  <app-social></app-social>

</div>

<app-workgrid></app-workgrid>

<app-footer></app-footer>