
<div class="container">
  
  <div class="intro" style="width: 65%; margin-top:3%;">
  <p class="lead" style="text-align: left; font-size: 16px">
    Byunghwan(Phan) is a software engineer and interaction designer. He researches and develops innovative education tools, using Virtual and Augmented reality(VR/AR) technology, and machine learning algorithms, that will allow people to enhance their ability in a variety of new ways.
    <br />
    <br />
    As a Software engineer, Phan started  for almost 5 years in the start-up industry, most notably for HoloLens, built award winning application.
    <br />
    <br />
    Phan received his bachelor's degree from The college of Social Science, Ajou University (Rebulic of Korea) in Media studies, Interactive Media and Human-Computer Interactions, and he currently studies for a master's degree at Carnegie Mellon University’s Entertainment Technology program (MET).  
    <br />
    <br />
  </p>
  </div>

  <app-social></app-social>
</div>

<app-workgrid></app-workgrid>

<app-footer></app-footer>