
<div class="container" id="wgrid">
	<div class="card-deck">

	    <div class="card" >
		  	<a href="#" class="">
			    	<img class="img-fluid" src="assets\img\vr_rehearsal.png" alt="Card image cap">
			   
			    <div class="card-body">
			      <h5 class="card-title">VR REHEARSAL: Practice your Rehearsal</h5>
			    </div>
		     </a>
		</div>

		<div class="card" >
		  	<a href="#" class="">
			    	<img class="img-fluid" src="assets\img\bvw.jpg" alt="Card image cap">
			   
			    <div class="card-body">
			      <h5 class="card-title">VR REHEARSAL: Practice your Rehearsal</h5>
			    </div>
		     </a>
		</div>

		 <div class="card" >
		  	<a href="#" class="">
			    	<img class="card-img-top" src=".../100px200/" alt="Card image cap">
			   
			    <div class="card-body">
			      <h5 class="card-title">Card title</h5>
			    </div>
		     </a>
		</div>

		 <div class="card" >
		  	<a href="#" class="">
			    	<img class="card-img-top" src=".../100px200/" alt="Card image cap">
			   
			    <div class="card-body">
			      <h5 class="card-title">Card title</h5>
			    </div>
		     </a>
		</div>

		 <div class="card" >
		  	<a href="#" class="">
			    	<img class="card-img-top" src=".../100px200/" alt="Card image cap">
			   
			    <div class="card-body">
			      <h5 class="card-title">Card title</h5>
			    </div>
		     </a>
		</div>

		 <div class="card" >
		  	<a href="#" class="">
			    	<img class="card-img-top" src=".../100px200/" alt="Card image cap">
			   
			    <div class="card-body">
			      <h5 class="card-title">Card title</h5>
			    </div>
		     </a>
		</div>

		


	  


	</div>
</div>